<mat-toolbar class="toolbar transparent">

    <button mat-icon-button type="button" (click)="checkCancel()" matTooltip="Fechar">
        <mat-icon>clear</mat-icon>
    </button>

    <span class="toolbar-title">
        {{ !debt.id ? 'Cadastrar' : 'Editar' }} Dívida
    </span>

    <span class="fill-space"></span>

    <button *ngIf="debt.id" mat-icon-button matTooltip="Remover" (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>

</mat-toolbar>

<div class="inner-component">
    <mat-divider class="divider"></mat-divider>

    <div class="tab-content">
        <app-debt-form #form [debt]="debt" (save)="save()"></app-debt-form>
    </div>

    <div class="save-button">
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" (click)="save()">
            <span>SALVAR</span>
        </button>
    </div>
</div>