.panel-headers-align .mat-expansion-panel-header-title,
.panel-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.panel-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}