<div class="list-header" fxLayout="row">
    <div fxFlex="100" class="header">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div>
                <h2 class="page-title">Dívidas</h2>
            </div>
        </div>

        <div>
            <button mat-raised-button color="primary" [style.margin-top.em]="3.8" fxLayoutAlign="end end"
                (click)="openBottomSheet()">
                <mat-icon>add</mat-icon>
                <span>CADASTRAR</span>
            </button>
        </div>
    </div>
</div>

<div>
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let debt of debts" [value]="debt" (click)="openBottomSheet(debt.id)">
            <div class="list-card" fxFlex fxLayoutAlign="start center">
                <div fxFlex>
                    <div class="title word-break">Número do titúlo: {{debt.titleNumber}} </div>
                    <div class="title-normal word-break">Nome: {{ debt.debtorName}}</div>
                </div>

                <div fxFlex="30">
                    <div class="title-normal word-break">Qtde de parcelas: {{debt.numberOfInstallments}}</div>
                    <div class="title-normal word-break">Valor original: R$ {{debt.originalValue}}</div>
                </div>

                <div fxFlex="30">
                    <div class="title-normal word-break">Dias de atraso: {{debt.daysOfDelay}}</div>
                    <div class="title-normal word-break">Valor atualizado: R$ {{debt.updateValue}}</div>
                </div>
            </div>
        </mat-list-option>
    </mat-selection-list>
</div>

<router-outlet></router-outlet>