/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toolbar {
    height: 2.2em !important;
    min-height: 2.2em !important;
    padding: 0 !important;
  }
  
  .toolbar-title {
    font-size: 1em;
    font-weight: normal;
  }

  .page-container {
    position: relative;
    margin: 0;
    min-width: calc(100% - 15em);
    min-height: calc(100vh - 3em);
    background-color: white;
  }
  
  .page-content {
    padding: 0.5em 1em;
    height: calc(100vh - 5.625em);
  }

  .bottom-sheet {
    min-height: calc(100vh - 2em) !important;
    height: calc(100vh - 2em) !important;
    max-height: calc(100vh - 2em) !important;
  
    @media screen and (min-width: 1024px) {
      min-width: 60vw !important;
      max-width: 60vw !important;
      width: 60vw !important;
    }
  
    @media screen and (max-width: 1023px) {
      min-width: 100vw !important;
      max-width: 100vw !important;
      width: 100vw !important;
  
      min-height: 100vh !important;
      height: 100vh !important;
      max-height: 100vh !important;
    }
  }

  .transparent {
    background-color: transparent !important;
  }

  .fill-space {
    flex: 1 1 auto;
  }